# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import pandas as pd
import numpy as np

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents.

In [2]:
# Your code here:
data = pd.read_csv('Current_Employee_Names__Salaries__and_Position_Titles.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33183 entries, 0 to 33182
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               33183 non-null  object
 1   Job Titles         33183 non-null  object
 2   Department         33183 non-null  object
 3   Full or Part-Time  33183 non-null  object
 4   Salary or Hourly   33183 non-null  object
 5   Typical Hours      8022 non-null   float64
 6   Annual Salary      25161 non-null  float64
 7   Hourly Rate        8022 non-null   float64
dtypes: float64(3), object(5)
memory usage: 2.0+ MB

Examine the `salaries` dataset using the `head` function below.

In [6]:
# Your code here:

data.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [14]:
missing_values_count = data.isnull().sum()
print("Missing values per column:")
print()
print(missing_values_count)
print()
total_missing = data.isnull().sum().sum()
print(f"Total missing values: {total_missing}")

Missing values per column:

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25161
Annual Salary         8022
Hourly Rate          25161
dtype: int64

Total missing values: 58344

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [19]:
# Your code here:

hourly_employees = data[data['Salary or Hourly']=='Hourly']
salaried_employees = data[data['Salary or Hourly']=='Salary']

print(f"Number of hourly employees: {len(hourly_employees)}")
print(f"Number of salaried employees: {len(salaried_employees)}")

Number of hourly employees: 8022
Number of salaried employees: 25161

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [23]:
# Your code here:

department_counts = data.groupby('Department')['Name'].count()

# Reset index to turn the groupby object into a DataFrame
department_counts = department_counts.reset_index(name='employee_count')
department_counts

               Department  employee_count
0            ADMIN HEARNG              39
1           ANIMAL CONTRL              81
2                AVIATION            1629
3       BOARD OF ELECTION             107
4         BOARD OF ETHICS               8
5           BUDGET & MGMT              46
6               BUILDINGS             269
7        BUSINESS AFFAIRS             171
8              CITY CLERK              84
9            CITY COUNCIL             411
10  COMMUNITY DEVELOPMENT             207
11                   COPA             116
12       CULTURAL AFFAIRS              65
13           DISABILITIES              28
14                   DoIT              99
15       FAMILY & SUPPORT             615
16                FINANCE             560
17                   FIRE            4641
18       GENERAL SERVICES             980
19                 HEALTH             488
20        HUMAN RELATIONS              16
21        HUMAN RESOURCES              79
22          INSPECTOR GEN              87
23                    LAW             407
24      LICENSE APPL COMM               1
25         MAYOR'S OFFICE              85
26                   OEMC            2102
27                 POLICE           13414
28           POLICE BOARD               2
29            PROCUREMENT              92
30         PUBLIC LIBRARY            1015
31          STREETS & SAN            2198
32             TRANSPORTN            1140
33              TREASURER              22
34            WATER MGMNT            1879

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [24]:
# Your code here:
from scipy.stats import ttest_1samp

# Filter for hourly workers
hourly_workers = data[data['Salary or Hourly'] == 'Hourly']

# Extract hourly rates and drop any missing values

hourly_rates = hourly_workers['Hourly Rate'].dropna()

# Perform one-sample t-test
t_stat, p_value = ttest_1samp(hourly_rates,30)

t_stat, p_value

"""
### Hypothesis Test Results:

- Test Statistic (t_stat): 20.62
- p-value :4.3230240486229894e-92

### Interpretation:

- Null Hypothesis H_0: The mean hourly wage of all hourly workers is $30/hr.
- Alternative Hypothesis H_A: The mean hourly wage of all hourly workers is not $30/hr.

Given that the p-value is significantly lower than 0.05 (or even 0.01), we reject the null hypothesis.
This indicates that there is a statistically significant difference between the hourly wage of all hourly workers and $30/hr.

"""

(20.6198057854942, 4.3230240486229894e-92)

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [31]:
# Your code here:
# Filter for salaried employees in the police department
salaried_police = data[(data['Department'] == 'POLICE') & (data['Salary or Hourly'] == 'Salary')]

# Extract annual salaries and drop any missing values
salaried_police_salaries = salaried_police['Annual Salary'].dropna()

# Perform one-sample t-test against last year's mean salary of $86000

last_year_mean_salary = 86000
t_stat_police, p_value_police = ttest_1samp(salaried_police_salaries, last_year_mean_salary, alternative='greater')

# Check if the test statistic is positive and determine the result
if t_stat_police > 0 and p_value_police < 0.05:
    result = "Reject the null hypothesis"
else:
    result = "Fail to reject the null hypothesis"


t_stat_police, p_value_police, result

(3.081997005712994, 0.0010301701775482569, 'Reject the null hypothesis')

In [ ]:
"""
## Hypothesis Test Results for Police Salaries:

- Test Statistic (t_stat): 3.08
- One-Tailed p-value: 0.00103

### Interpretation:

- Null Hypothesis (H_0): The mean salary for all salaried police employees is $86,000/year.
- Alternative Hypothesis (H_A): The mean salary for all salaried police employees is greater than $86,000/year.

Given that the one-tailed p-value is significantly lower than 0.05, and the test statistic is positive, we reject the null hypothesis. 
This indicates that there is statistically significant evidence that the mean salary for all salaried police employees this year is higher than $86,000/year.

"""

Using the `crosstab` function, find the department that has the most hourly workers.

In [32]:
# Your code here:
# Filter for hourly workers
hourly_workers = data[data['Salary or Hourly'] == 'Hourly']

# Create a crosstab to count the number of hourly workers in each department

crosstab_result = pd.crosstab(hourly_workers['Department'], hourly_workers['Salary or Hourly'])

# Find the department with the most hourly workers
dep_with_most_hourly = crosstab_result['Hourly'].idxmax()
count_hourly_workers = crosstab_result['Hourly'].max()

dep_with_most_hourly,count_hourly_workers

('STREETS & SAN', 1862)

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [33]:
# Your code here:

# Filter for hourly workers in that department
hourly_workers_in_streetsandsan = hourly_workers[hourly_workers['Department'] == dep_with_most_hourly]

# Extract hourly rates and drop any missing values
hourly_rates_streetsandsan = hourly_workers_in_streetsandsan['Hourly Rate'].dropna()

# Perform one-sample t-test against $35/hour with alternative hypothesis 'less'
hypothesized_mean_wage = 35
t_stat_streetsandsan, p_value_streetsandsan = ttest_1samp(hourly_rates_streetsandsan, hypothesized_mean_wage, alternative='less')

# Check if the test statistic is negative and determine the result
if t_stat_streetsandsan < 0 and p_value_streetsandsan < 0.05:
    result = "Reject the null hypothesis"
else:
    result = "Fail to reject the null hypothesis"

t_stat_streetsandsan, p_value_streetsandsan, result

(-9.567447887848152, 1.6689265282353859e-21, 'Reject the null hypothesis')

In [ ]:
"""
### Hypothesis Test Results for Hourly Wage Complaint:
- Test Statistic (t_stat): -9.57
- One-Tailed p-value: 1.6689265282353859e-21

### Interpretation:
- Null Hypothesis (H_0): The mean hourly wage for the department with the most hourly workers is $35/hour or more.
- Alternative Hypothesis (H_A): The mean hourly wage for the department with the most hourly workers is less than $35/hour.

Given that the one-tailed p-value is significantly lower than 0.05, and the test statistic is negative, we reject the null hypothesis. 
This indicates that there is statistically significant evidence that the mean hourly wage for the department with the most hourly workers is less than $35/hour.

"""

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [34]:
# Your code here:

from scipy.stats import t, sem

# Extract hourly rates for all hourly workers and drop any missing values
hourly_rates = hourly_workers['Hourly Rate'].dropna()

# Calculate the sample mean

sample_mean = np.mean(hourly_rates)

# Calculate the standard error of the mean

standard_error = sem(hourly_rates)

# Set the confidence level
confidence_level = 0.95

#Calculate the degrees of freedom

degrees_of_freedom = len(hourly_rates) - 1

#Compute the confidence interval
confidence_interval = t.interval(confidence_level, degrees_of_freedom, loc=sample_mean, scale= standard_error)

confidence_interval

(32.52345834488425, 33.05365708767623)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [39]:
# Your code here:

# Filter for salaried employees in the police department
salaried_police = data[(data['Department'] == 'POLICE') & (data['Salary or Hourly'] == 'Salary')]

# Extract annual salaries and drop any missing values
salaried_police_salaries = salaried_police['Annual Salary'].dropna()

# Calculate the sample mean

sample_mean_salary = np.mean(salaried_police_salaries)

# Calculare the standard error of the mean
standard_error_salary = sem(salaried_police_salaries)

# Set the confidence lever
confidence_level = 0.95

# Calculate the degrees of freedom
degrees_of_freedom_salary = len(salaried_police_salaries) - 1

# Compute the confidence interval

confidence_interval_salary = t.interval(confidence_level, degrees_of_freedom_salary, loc=sample_mean_salary, scale=standard_error_salary)

confidence_interval_salary

(86177.05631531784, 86795.77269094894)

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [40]:
# Your code here:

import statsmodels.api as sm

# Total number of workers
total_workers = len(data)

# Number of hourly workers
hourly_workers_count = len(data[data['Salary or Hourly'] == 'Hourly'])

# Hypothesized proportion
hypothesized_proportion = 0.25

# Use proportions_ztest from statsmodels
count = hourly_workers_count
nobs = total_workers
test_stat, p_value = sm.stats.proportions_ztest(count, nobs, value=hypothesized_proportion)

test_stat, p_value

(-3.5099964213703005, 0.0004481127249057967)

In [ ]:
"""
### Hypothesis Test Results for Proportion of Hourly Workers
- Test Statistic (z_stat): -3.51
- p-value: 0.000448

### Interpretation:
- Null Hypothesis (H_0): The proportion of hourly workers in the City of Chicago is 25%.
- Alternative Hypothesis (H_A): The proportion of hourly workers in the City of Chicago is not 25%.

Given that the p-value is significantly lower than 0.05, we reject the null hypothesis. 
This indicates that there is statistically significant evidence that the proportion of hourly workers in the City of Chicago is different from 25%.

"""